* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
h1
{
	text-align: center;
	font-family: ss;
	font-size: 5em;
	margin: 20px;
}
h3
{
	font-family: ok;
	font-size: 1.5em;
	width: 40%;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	text-align: center;
	float: right;
	margin-bottom: 3%;
}
.chi
{
	background-color: #ed91ba;
	color: #000;
}
.be
{
	background-color: #ff2142;
	color: #fff;
}
.sus
{
	background-color: #f0cb67;
	color: #000;
}
p
{
	font-family: ok;
	clear: right;
	margin: 3%;
}
.row {
  width: 100%;
}
@media (min-width: 992px) {
  .col-lg-4 {
    width: 29.33%; 
    float: left;
    border: 1px solid black;
    background-color: #C9C9C9;
    margin: 2%;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 46%;
    float: left;
    border: 1px solid black;
    background-color: #C9C9C9;
    margin: 2%;
    padding: 0;
  }
  .col-md-12 {
    width: 96%;
    float: left;
    border: 1px solid black;
    background-color: #C9C9C9;
    margin: 2%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .col-sm-12 {
    width: 96%;
    float: left;
    border: 1px solid black;
    background-color: #C9C9C9;
    margin: 2%;
    padding: 0;
  }
}
@font-face
{
	font-family:'ok';
	src: url('Olivia & kevin.ttf');
}
@font-face
{
	font-family:'ss';
	src: url('Snowy Season.ttf');
}